<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 给pojo包的所有类取别名 -->
    <typeAliases>
        <package name="ruoxijun.pojo"/>
    </typeAliases>
    <!-- 注册Mapper.xml -->
    <mappers>
        <mapper class="ruoxijun.mapper.BookMapper"/>
    </mappers>
</configuration>